<p id="notice"><%= notice %></p>

  <%= form_tag(quiz_survey_path(@quiz.id), method: :get) do %>
  <% @a.each do |quiz| %>
    <tr>
      <td><h3><%= quiz.matter %></h3></td>
      <%= select_tag "answers[]", options_from_collection_for_select(quiz.answers, "id", "matter") %>
    </tr>
  <% end %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
